  <div id="bloc_page">
    <header>
      <h1>Anna MEI</h1>
      <nav>
        <ul>
          <li><a href="#">Accueil</a></li>
          <li><a href="#">A propos</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>

    <div class="banner" style="background-image: linear-gradient( rgba(0,0,0,.3), rgba(255,0,0,0.4)), url('/assets/banner_image.jpg');">
      <div class="banner_title">
        <h1> Banner title </h1>
      </div>
    </div>

    <section>
      <article>
        <h2>Projets</h2>
        <h3>En cours</h3>

        <div class="cards">
            <div class="card_portfolio">
              <img src="images/sub_capture.jpg" alt="Projet Prestashop"/>
              <div class="card_portfolio_infos">
                <div class="project_description">
                  <h2>Projet Prestashop</h2>
                  <p>Refonte du site internet Subflock de A à Z</p>
                </div>
                <div class="div_img">
                  <img src="images/logo_real_r.png" alt="logo entreprise" class="card_logo avatar-bordered" />
                </div>
              </div>
            </div>

            <div class="card_portfolio">
              <img src="images/sub_capture.jpg" alt="Projet Our World" />
              <div class="card_portfolio_infos">
                <div class="project_description">
                  <h2>Our World</h2>
                  <p>Entrainement du site le monde</p>
                </div>
                <div class="div_img">
                  <img src="#" alt="logo entreprise" class="card_logo avatar-bordered" />
                </div>
              </div>
            </div>

        </div>

        <h3>Réalisés</h3>
        <div class="cards">
              <div class="card_portfolio">
                <img src="images/sub_capture.jpg" alt="Projet Our World" />
                <div class="card_portfolio_infos">
                  <div class="project_description">
                    <h2>Our World</h2>
                    <p>Entrainement du site le monde</p>
                  </div>
                  <div class="div_img">
                    <img src="#" alt="logo entreprise" class="card_logo avatar-bordered" />
                  </div>
                </div>
              </div>

              <div class="card_portfolio">
                <img src="images/sub_capture.jpg" alt="Projet Our World" />
                <div class="card_portfolio_infos">
                  <div class="project_description">
                    <h2>Our World</h2>
                    <p>Entrainement du site le monde</p>
                  </div>
                  <div class="div_img">
                    <img src="#" alt="logo entreprise" class="card_logo avatar-bordered" />
                  </div>
                </div>
              </div>
        </div>

      </article>

      <aside>
        <h2>Compétences</h2>
        <ul>
          <li>Html/Css/Js</li>
          <li>Ruby (Ruby on Rails</li>
          <li>Php/symphony</li>
          <li>PostgreSQL, Git, Github</li>
        </ul>
      </aside>
    </section>

    <hr>
    <footer>
      <div class="social_links">
        <a href="#">Lien Github</a>
        <a href="#">Lien Linkedin</a>
      </div>

      <p>Copyright Anna MEI - Tous droits réservés</p>
    </footer>

  </div>
